@import "./_variables";
@import "./_mixins";

//NavBar
%nav {
  background-color: $white;
  @include flex(center, center, row);
  font-family: $font-family--default;
  max-width: 100vw;
  padding: 20px;
  width: 100%;
  z-index: 1;

  svg {
    vertical-align: middle;
    margin-left: 10px;
  }

  ul {
    width: 30%;
    list-style: none;
    margin: 0 auto;
    padding: 0 10% 0 0;
    @include flex(center, space-between, row);
    
    a{
      text-decoration: none;

     li{
        color: $black;

        &:hover, &:focus{
          border-bottom: 2px solid $color-orange-primary;
        }
     } 
    }
  }
}
